PORT=5002
PG_USER = postgres
PG_HOST = localhost
PG_DATABASE=your_database
PG_PORT=ypur_port
PG_PASSWORD=your_password  
ACCESS_TOKEN_SECRET=your_access_secret_code
REFRESH_TOKEN_SECRET=your_refresh_secret_code